{% extends 'base.html.twig' %}

{% block title %}facture{% endblock %}
{% block navebar %}
    
{% endblock %}
{% block content %}

{# HEADER SECTION ON  #}
    <section class="flex justify-between">
        <div class="w-1/3 ">
            <p>point de vente : <span class="text-yellow-900 ">{{app.session.get('pointActive').libelle}}</span></p>
            <p>vendeur : <span class="text-yellow-900 ">{{pagination.DD.user.nomComplet}}</span></p>
            <p>tel : <span class="text-yellow-900 ">{{pagination.DD.user.telephone}}</span></p>
        </div>
        <div class="w-1/3 ">
            <p class="">client : <span class="text-yellow-900 ">{{pagination.DD.client}}</span></p>
            <p class="">numero : <span class="text-yellow-900 ">{{pagination.numero}}</span></p>
        </div>
    </section>
{# HEADER SECTION OFF  #}

    <h1 class="my-10 text-3xl text-center text-yellow-900 ">FACTURE EN ATTENTE DE RÈGLEMENT</h1>
    {# TABLE PRODUIT ON  #}
        <div class="m-4 overflow-x-auto bg-white dark:bg-neutral-700">

            <!-- Table -->
            <table class="min-w-full text-base text-left whitespace-nowrap">

                <!-- Table head -->

                <!-- Table body -->
                {% if pagination.DD.detaillDette is defined and  pagination.DD.detaillDette != null %}
                    <thead class="tracking-wider uppercase border-b-2 dark:border-neutral-600 bg-neutral-50 dark:bg-neutral-800">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                            nbr
                            </th>            
                            <th scope="col" class="px-6 py-3">
                            categorie
                            </th>            
                            <th scope="col" class="px-6 py-3">
                            detail
                            </th>
                            <th scope="col" class="px-6 py-3">
                            qte
                            </th>
                            <th scope="col" class="px-6 py-3">
                            prix
                            </th>
                            <th scope="col" class="px-6 py-3">
                            total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i,item in pagination.DD.detaillDette %}
                            <tr class="border-b dark:border-neutral-600">                        
                                <td class="px-6 py-3">{{i+1}}</td>
                                <td class="px-6 py-3">{{item.produit.categorie}}</td>
                                <td class="px-6 py-3">{{item.produit.detail}}</td>
                                <td class="px-6 py-3">{{item.qteVente}}</td>                            
                                <td class="px-6 py-3">{{item.prixVente}}</td>  
                                <td class="px-6 py-3">{{item.prixVente * item.qteVente}}</td>                              
                            </tr>                
                        {% endfor %}
                    </tbody>                    
                {% endif %}
                    <tfoot>
                        <tr class="border-b dark:border-neutral-600">
                            <th  class="px-6 py-2 text-2xl">a payer :</th>
                            <th colspan="5" class="px-6 py-2 text-2xl"><span class="text-yellow-900 ">{{pagination.DD.montantTotal}}fr</span></th>
                        </tr>
                        <tr class="border-b dark:border-neutral-600">
                            <th  class="px-6 py-2 text-2xl">restant a payer :</th>
                            <th colspan="5" class="px-6 py-2 text-2xl"><span class="text-yellow-900 ">{{pagination.DD.montantRestant}}fr</span></th>
                        </tr>
                        <tr class="border-b dark:border-neutral-600">
                            <th  class="px-6 py-2 text-2xl">verser :</th>
                            <th colspan="5" class="px-6 py-2 text-2xl"><span class="text-yellow-900 ">{{pagination.DD.montantDonnee}}fr</span></th>
                        </tr>
                        <tr class="border-b dark:border-neutral-600">
                            <th  class="px-6 py-2 text-2xl">versement du jour :</th>
                            <th colspan="5" class="px-6 py-2 text-2xl"><span class="text-yellow-900 ">{{pagination.montantVerser}}fr</span></th>
                        </tr>
                    </tfoot>
            </table>

        </div>
    {# TABLE PRODUIT OFF  #}    

<p class="imprimer"></p>
{% endblock %}
