{% extends 'base.html.twig' %}

{% block title %}detail Facture{% endblock %}
{% block navebar %}
    
{% endblock %}
{% block content %}

<h1 class="my-10 text-3xl text-center text-yellow-900 ">detail caisse du {{caisse.CreatAt.format("Y-m-d")}}</h1>
<section class="w-full text-center">
    <div class="py-4">
        <p class="text-3xl">Total Vente : <span class="text-yellow-700 ">{{caisse.totalVente}}fr</span></p>
    </div>    
    <div class="py-2">
        <p class="text-3xl">Total commande : <span class="text-yellow-700 ">{{caisse.totalCommande}}fr</span></p>
    </div>    
    <div class="py-2">
        <p class="text-3xl">Total Frais : <span class="text-yellow-700 ">{{caisse.totalFrais}}fr</span></p>
    </div>    
    <div class="py-2">
        <p class="text-3xl">Total due rembourser : <span class="text-yellow-700 ">{{caisse.totalDusPayer}}fr</span></p>
    </div>    
    <div class="py-2">
        <p class="text-3xl">Total dette payer : <span class="text-yellow-700 ">{{caisse.totalDettePayer}}fr</span></p>
    </div>    
    <div class="py-2">
        <p class="text-3xl">benefice : <span class="text-yellow-700 ">{{caisse.benefice}}fr</span></p>
    </div>    
    <div class="py-2">
        <p class="text-3xl">total caisse : <span class="text-yellow-700 ">{{caisse.totalVente + caisse.totalDettePayer - caisse.totalFrais - caisse.totalDusPayer  }}fr</span></p>
    </div>    
</section>

<p class="imprimer"></p>
{% endblock %}
